
-e git+https://github.com/AnyBlok/AnyBlok.git#egg=anyblok
-e git+https://github.com/AnyBlok/Anyblok_Pyramid.git#egg=anyblok_pyramid
-e git+https://github.com/AnyBlok/anyblok-pyramid-rest-api.git#egg=anyblok_pyramid_rest_api
anyblok_io
colour 
passlib 
furl 
phonenumbers 
pycountry
cryptography
pygments==2.7.4
-e git+https://github.com/AnyBlok/anyblok_furetui.git@refactor#egg=anyblok_furetui

ipdb
ipdbplugin
ipython
nodeenv

-r requirements.test.txt

-e .
